<div class="lt-block-reviews">
  <ryviu-widget handle="{{product.handle}}" title_product="{{product.title}}" image_product="{{ product.featured_image.src | img_url: '100x' }}"></ryviu-widget>
</div>

{% schema %}
{
  "name": "Ryviu Widget",
  "settings": []
}
{% endschema %}