.tempofrete {
    box-shadow: 0px 10px 30px -10px #0000002e;
    border-radius: 7px;
    padding: 14px 15px 10px 18px;
    margin-top: 18px;
}

#badges-product {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

#badges-product .badge {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    width: 100%;
    line-height: normal;
}

#badges-product .badge .badge-icon,
#badges-product .badge .badge-icon g {
    margin-right: 10px;
    fill: var(--extra);
}

#badges-product .badge .badge-text {
    flex: 1;
    margin-bottom: 5px;
    font-size: 13px;
}

#badges-product p {
    margin: 0;
    padding: 0;
}

#badges-product .badge .badge-text .highlight-text {
    color: var(--extra);
    font-weight: 500;
}

.pix10 svg{
    fill: var(--product-on-sale-accent);
}

.pix10{
    color: var(--product-on-sale-accent);
}

.quantitysell{
    color: #000;
    margin-right: 2px;
}

.quantitysell {
    font-size: 13.5px;
    color: var(--text-color);
    margin: 0;
    line-height: 1.5;
    font-weight: 400;
}

.verification__stamp:after {
    font-family: "Font Awesome 5 Free";
    margin: 7px;
    font-weight: 900;
    content: "\f058";
    color: #0086ff;
}

.verification__stamp {
    font-size: 18px;
    position: relative;
    display: inline-block;
    top: -2px;
}

.quantityselll{
    background: var(--lancamento);
    color: var(--lancamentotexto);
    padding: 2px 4px;
    border-radius: 4px;
    font-weight: bold;
    margin: 0px 0px;
}

.price-list{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

.product-form .price--compare {
    top: -2px;
}

.price.price--compare{
    order: 1;
    margin-bottom: 3px;
}

.price.price--highlight{
    order: 2;
}

.parcelamento{
    order: 3;
    margin-bottom: 0;
}

.parcelamento span{
    font-size: 16px;
}

.parcelamento span b{
    font-size: 20px;
    color: black;
}

.price--highlight .product-label.product-label--on-sale{
    margin-left: 5px;
    background: var(--porcento);
}

.product-form__payment-container {
    flex-wrap: wrap;
    flex-direction: initial;
    margin: 0;
}

.product-form__add-button {
    justify-content: center;
    display: flex;
    flex: 1;
    align-items: center;
    line-height: 52px;
}

.product-meta .product-meta__label-list{
    display: none;
}

.fig{
    fill: var(--extra);
    float:left;
    margin: 5px 10px 0px 0px;
}

.figt{
    color: var(--extra);
}

.figt svg{
    fill: var(--extra);
    margin-left:5px
}

.color-line {
    background: linear-gradient(to right,var(--line1) 0,var(--line2) 20%,var(--line3) 50%,var(--line4) 85%,var(--line5) 100%);
    height: 5px;
    width: 100%;
}

.nav-bar__link.link{
    color: var(--cormenu);
}

.nav-bar{
    background: var(--fundomenu)!important;
}

.product-block-list__item--description img{
    margin: 0 auto!important;
}

.nav-bar:after{
    content:  unset!important;
}

.highlight, .text--strong{
    font-weight: normal;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.h1-sam {
    margin-bottom: 10px;
    padding-bottom: 0!important;
    color: #000;
    text-align: center;
    font-family: 'Samsung Sharp Sans Bold',sans-serif;
    font-size: 38px!important;
    line-height: 34px!important;
}
.h2-sam {
    padding-top: 0;
    padding-bottom: 0!important;
    font-size: 23px!important;
    font-weight: 700!important;
    color: #000;
    text-align: center;
    font-family: "SamsungOne 700",sans-serif;
    line-height: normal!important;
    margin-bottom: 10px;
}

.rd{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 3%;
}

button.qtyplus, button.qtyminus {
    width: 44px;
    height: 44px;
    line-height: 0px;
    vertical-align: middle;
    font-weight: 900;
    font-size: 24px;
    border-radius: 3px;
    background: #f9f9f9;
    border: 1px solid #efefef;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.qty {
    font-weight: 600;
    width: 90px;
    height: 40px;
    text-align: center;
    border: none;
    background: #f9f9f9;
    border: 1px solid #efefef;
    margin: 0;
    cursor: default;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
}

.product-form__add-button:before, .botaoflutuante .button--primary:before {
    content: '\f291';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 5px;
}



.price.price--highlight, .shipping-preview-line font {
    font-weight: bold;
}

.loox-star:before {
    color: #f3c621!important;
}

.cookie-bar__inner {
    color: #343131;
}

.footer__aside-item--copyright p {
    margin-bottom: 0;
}

.pix10.flex{
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.pix10.flex p{
    margin-bottom: 0;
    margin-left: 3px;
}

.payment-list.pd {
    justify-content: center;
    margin: 18px auto 0;
}

@media (min-width: 768px) {
    .botaoflutuante{
        display: none;
    }
}

@media(max-width: 768px){
    .botaoflutuante {
        position: fixed;
        bottom: 0;
        background: #fff;
        z-index: 2;
        width: 100%;
        padding: 5px;
    }

    .botaoflutuante .button{
        width: 100%;
    }

    .rd{
        flex-direction: column;
    }
}

@media screen and (min-width: 1280px) {
    .header__cart-count {
        top: 0 !important;
    }
    .header__cart-icon .icon-state__primary {
        right: 4px;
    }
}

/*================ Ad banner ================*/
#ad-banner {
    display: flex;
}

#ad-banner img {
    width: auto;
    margin: auto;
}

/*================ Advantage list ================*/
.advantage-list .advantage {
    margin: 0;
    justify-content: center;
    display: flex !important;
    align-items: center;
    flex: 1;
    height: auto;
    width: 25%;
}

.advantage-list .advantage .advantage-content {
    display: inherit;
}

.advantage-list .advantage .advantage-content .advantage-icone {
    display: flex;
    align-items: center;
}

.advantage-list .advantage .advantage-content .advantage-icone svg {
    display: flex;
    width: 50px;
    height: 50px;
}

.advantage-list .advantage .advantage-content  .advantage-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 12px;
    line-height: 1.2;
}

.advantage-list .advantage .advantage-content .advantage-text span {
    font-weight: 500;
    font-size: 20px;
}

.advantage-list .advantage .advantage-content .advantage-text p {
    font-size: 17px;
}

@media only screen and (max-width: 1024px) {
    .advantage-list .advantage {
        margin: 0 5px;
        width: 100%;
    }

    .advantage-list .advantage {
        border-radius: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .advantage-list .advantage svg {
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1025px) {
    .advantage-list {
        display: flex !important;
        border-radius: 14px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .advantage-list .advantage:not(:last-child) {
        border-right: 1px solid #90909038;
    }
}

.advantage-list .carousel .carousel-cell {
    width: 100%;
}

/*================ Support floating ================*/
.support-floating {
    position: fixed;
    z-index: 2;
    line-height: normal;
    bottom: 15px;
}

.support-floating .support-button {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 1px rgba(0,0,0,.044), 0 4px 4px rgb(78 78 78 / 5%), 0 6px 8px rgb(136 136 136 / 6%), 0 10px 8px rgb(103 103 103 / 10%);
}

.support-floating .support-button svg {
    width: 26px;
    height: 26px;
    position: relative;
    top: -1px;
    display: flex;
}

.support-floating .support-button:hover svg {
    opacity: 0.8
}

.support-floating .support-popup {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    width: 285px;
    bottom: 100%;
    background: #fff;
    margin-bottom: 15px;
    visibility: hidden;
    -webkit-box-shadow: 0 4px 8px 1px rgba(43,43,43,.15);
    -moz-box-shadow: 0 4px 8px 1px rgba(43,43,43,.15);
    -o-box-shadow: 0 4px 8px 1px rgba(43,43,43,.15);
    -ms-box-shadow: 0 4px 8px 1px rgba(43,43,43,.15);
    box-shadow: 0 4px 8px 1px rgba(43,43,43,.15);
    border-radius: 8px;
}

.support-floating.support-show .support-popup {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.support-floating .support-header {
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding: 14px 18px;
}

.support-floating .support-header svg {
    width: 28px;
    height: 28px;
    fill: #ffffff;
}

.support-floating .support-close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.support-floating .support-close svg {
    width: 13px;
    height: 13px;
    fill: #ffffff;
}

.support-floating .support-close svg:hover {
    opacity: 0.8
}

.support-floating .support-header-b {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.support-floating .support-header-b strong {
    font-weight: 500;
}

.support-floating .support-content {
    padding: 14px;
    overflow: auto;
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    .support-floating .support-content {
        max-height: 30vh;
    }
}

.a-block .title-contact {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
}

.a-block .title-contact svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.a-block .title-contact span {
    font-weight: 500;
}

.a-block:not(:first-child) {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #90909042;
}

.a-block a {
    margin-top: 5px;
    display: flex;
}

.a-block .a-block-cont {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.a-block .a-block-cont span {
    margin-bottom: 5px;
    margin-right: 5px;
}

.a-block .a-block-cont strong {
    min-width: 60px;
    display: flex;
    border-radius: 3px;
    padding: 0 5px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    font-weight: 500;
}

.a-block .a-block-cont strong:empty {
    display: none
}

.a-block.ha .a-block-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.a-block.ha .title-contact span {
    font-weight: 500;
}

.a-block.ha .title-contact svg {
    width: 14px;
    height: 14px;
    margin-right: 5px;
}

.a-block.ha span {
    display: block;
}

/*================ Brand list ================*/
.brand-list .brand {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-list .brand svg {
    height: auto;
    max-height: 100px;
    fill: #000000 !important;
}

.brand-list .flickity-slider {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

@media only screen and (max-width: 1024px) {
    .brand-list .brand {
        width: 100%;
    }
}

/*================ Product video ================*/
.product-video {
    min-height: 590px;
    overflow: auto;
    justify-content: center;
}

.product-video .v-col-video .v-video-media {
    float: left;
    width: 75%;
    min-height: inherit;
}

.product-video .v-col-video .v-video-media * {
    border-radius: 6px;
}

.product-video .v-col-video .v-video-media iframe {
    min-height: 591px;
}

.product-video .v-col-video .v-video-media button {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 65px;
    margin-left: -34px;
    margin-top: -32px;
    -webkit-transition: opacity .25s cubic-bezier(0,0,.2,1);
    -o-transition: opacity .25s cubic-bezier(0,0,.2,1);
    transition: opacity .25s cubic-bezier(0,0,.2,1);
    z-index: 1;
}

.product-video .v-col-video .v-video-media button svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.product-video .v-col-product {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.product-video .v-col-product button {
    padding: 5px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    color: white;
    width: 100%;
    border: none;
}

.product-video .v-col-product .v-product {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    margin-top: 5px;
    background: #ffffff;
    padding-top: 30px;
}

.product-video .v-col-product .v-product .product-item {
    background: transparent !important;
    box-shadow: none !important;
    border-radius: initial !important;
}

.product-video .v-col-product .v-product .product-item .product-item__info {
    padding-bottom: 37px !important;
}

@media only screen and (max-width: 1024px) {
    .product-video {
        min-height: auto;
    }

    .product-video .v-col-video,
    .product-video .v-col-product {
        width: 100%;
        text-align: center;
        min-height: auto;
    }

    .product-video .v-col-video .v-video-media {
        width: 100%;
    }

    .product-video .v-col-video .v-video-media iframe {
        min-height: 220px;
    }

    .product-video .v-col-video .v-video-media button svg {
        width: 50px;
    }

    .product-video .v-col-product {
        padding: 0;
    }

    .product-video .v-col-product button {
        padding: 5px;
        width: 80%;
        font-size: 16px;
        margin-top: 20px;
    }

    .product-video .v-col-product .v-product {
        display: none !important;
    }
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    .product-video .v-col-video .v-video-media iframe {
        min-height: 430px;
    }
}

/*================ Info bar ================*/
.info-bar {
    font-size: 15px;
    padding: 1em;
    overflow: hidden;
}

.info-bar .info-bar-item {
    padding-bottom: 1rem !important;
}

.info-bar .info-bar-item .title {
    font-weight: 500 !important;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-size: 17px;
}

.info-bar .info-bar-item .rte {
    line-height: 1.3;
    font-size: 16px;
}

.info-bar .info-bar-item .rte p:last-child {
    margin-bottom: 0;
}

.info-bar svg {
    overflow: hidden;
    vertical-align: middle;
}

.mx-n3 {
    margin-right: -0.75rem !important;
    margin-left: -0.75rem !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.px-3 {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important;
}

.py-4 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.mr-4 {
    margin-right: 1rem !important;
}

.d-flex {
    display: flex !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.align-items-center {
    align-items: center !important;
}

.row-cols-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
}

.row-cols-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
}

.row-cols-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
}

@media (min-width: 768px) {
    .row-cols-md-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-md-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-md-3 > * {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .row-cols-md-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-1 > * {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-cols-lg-2 > * {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .row-cols-lg-3 > * {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .row-cols-lg-4 > * {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .row-cols-lg-5 > * {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .row-cols-lg-6 > * {
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }
}

/*================ Review list ================*/
.review-list .review {
    padding: 10px;
    width: 25%;
}

.review-list .review .review-card {
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0px 7px rgba(164,201,41,1);
    padding: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.0' width='768.000000pt' height='768.000000pt' viewBox='0 0 768.000000 768.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cg transform='translate(0.000000 768.000000) scale(0.100000 -0.100000)' fill='%23dbdbdb' stroke='none'%3E%3Cpath d='M892 6944 c-154 -34 -265 -97 -392 -224 -98 -98 -144 -165 -187 -270 -53 -133 -53 -122 -53 -1136 0 -1069 -4 -1011 85 -1189 105 -211 291 -363 521 -427 76 -21 103 -22 679 -27 l600 -6 58 -27 c117 -55 191 -138 227 -256 40 -129 22 -439 -35 -609 -98 -291 -348 -557 -628 -667 -153 -60 -202 -68 -487 -75 -304 -8 -322 -12 -398 -95 -78 -85 -77 -78 -77 -457 l0 -335 30 -59 c35 -69 105 -128 171 -144 55 -14 420 -14 555 -1 353 36 687 153 989 348 522 336 877 893 977 1532 17 107 18 226 18 1780 l0 1665 -22 84 c-72 270 -276 485 -548 579 l-80 27 -970 2 c-797 1 -981 -1 -1033 -13z'/%3E%3Cpath d='M4732 6944 c-154 -34 -265 -97 -392 -224 -98 -98 -144 -165 -187 -270 -53 -133 -53 -122 -53 -1136 0 -1069 -4 -1011 85 -1189 105 -211 291 -363 521 -427 76 -21 103 -22 679 -27 l600 -6 58 -27 c117 -55 191 -138 227 -256 40 -129 22 -439 -35 -609 -98 -291 -348 -557 -628 -667 -153 -60 -202 -68 -487 -75 -304 -8 -322 -12 -398 -95 -78 -85 -77 -78 -77 -457 l0 -335 30 -59 c35 -69 105 -128 171 -144 55 -14 420 -14 555 -1 353 36 687 153 989 348 522 336 877 893 977 1532 17 107 18 226 18 1780 l0 1665 -22 84 c-72 270 -276 485 -548 579 l-80 27 -970 2 c-797 1 -981 -1 -1033 -13z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 96% 93%;
    background-size: 30px 30px;
    color: #2d2d2d;
    position: relative;
    min-height: 156px;
}

.review-list .review .review-card p {
    padding: 0px;
    line-height: 1.2;
    margin: 5px 5px 5px 0;
}

.review-list .review .review-card .review-heading {
    font-weight: 500;
}

.review-list .review .review-card .review-subheading {
    font-size: 12px;
    color: lightgray;
}

.review-list .review .review-card .review-body {
    margin-top: 10px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: calc(var(--base-text-font-size) - (var(--default-text-font-size) - 14px));
}

.review-list .review .review-card .review-stars {
    background-size: 18px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 5px;
}

.review-list .review .review-card .review-stars .star {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguNTYyMjEgMTMuODk5NUwxMi42MjE5IDE2LjM1NDlDMTMuMzY1NCAxNi44MDQ5IDE0LjI3NTIgMTYuMTM5NyAxNC4wNzk1IDE1LjI5ODRMMTMuMDAzNCAxMC42ODExTDE2LjU5MzYgNy41NzAyN0MxNy4yNDkgNy4wMDI4OSAxNi44OTY5IDUuOTI2ODIgMTYuMDM2IDUuODU4MzRMMTEuMzExMSA1LjQ1NzI2TDkuNDYyMiAxLjA5NDI4QzkuMTI5NTkgMC4zMDE5MDUgNy45OTQ4MyAwLjMwMTkwNSA3LjY2MjIzIDEuMDk0MjhMNS44MTMzNCA1LjQ0NzQ4TDEuMDg4NDIgNS44NDg1NkMwLjIyNzU2IDUuOTE3MDMgLTAuMTI0NjA5IDYuOTkzMSAwLjUzMDgxNiA3LjU2MDQ5TDQuMTIwOTggMTAuNjcxM0wzLjA0NDkxIDE1LjI4ODZDMi44NDkyNiAxNi4xMjk5IDMuNzU5MDMgMTYuNzk1MSA0LjUwMjQ5IDE2LjM0NTFMOC41NjIyMSAxMy44OTk1WiIgZmlsbD0iI0ZCQ0MzNiIvPgo8L3N2Zz4K);
    background-size: 16px;
    height: 16px;
    width: 16px;
}

.review-audited {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 12px auto 0;
    position: relative;
    color: #818993;
    font-size: 13px;
}

.review-audited img {
    margin-left: 5px;
    height: 17px;
    vertical-align: middle;
    width: 70px;
}

@media only screen and (max-width: 1024px) {
    .review-audited {
        text-align: center;
        display: block;
    }
    .review-list .review {
        width: 100%;
    }

    .review-list .review {
        padding: 0 0 10px;
        margin-right: 5px;
    }
}

/*================ Newsletter bar ================*/
#newsletter-bar {
    box-shadow: 0 0 5px rgb(158 158 158 / 20%);
    border-bottom: 1px solid #90909021;
    border-top: 1px solid #90909021;
    padding: 10px;
}

#newsletter-bar .footer-position {
    position: static;
}

#newsletter-bar .newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    margin-top: 0 !important;
}

#newsletter-bar .newsletter-title {
    display: flex;
    align-items: center;
}

#newsletter-bar .newsletter-title svg {
    width: 85px;
    height: 85px;
}

#newsletter-bar .newsletter-title span {
    display: flex !important;
    font-size: 22px;
    line-height: 19px;
    margin: 0 0 0 20px;
    color: #fff;
}

#newsletter-bar .newsletter-content {
    text-align: center;
    min-height: 30px;
    font-size: 0;
}

#newsletter-bar .newsletter-content * {
    overflow: visible !important;
}

#newsletter-bar .newsletter-register {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    margin: 0;
    position: relative;
}

#newsletter-bar input {
    background: #ffffff;
    color: #717171;
    border-radius: 4px !important;
    box-shadow: none;
    height: 48px;
    width: 360px !important;
    border: none;
    display: inline-block !important;
}

#newsletter-bar .newsletter-signature {
    position: static;
    line-height: 13px;
    height: 50px;
    border-radius: 4px;
    margin-left: 20px;
    border: none;
    box-shadow: none;
    font-size: 22px;
    padding: 0 30px !important;
    z-index: 1;
    font-weight: 500;
}

@media only screen and (max-width: 1024px) {
    #newsletter-bar .newsletter {
        flex-direction: column;
        height: auto;
    }

    #newsletter-bar .newsletter-title {
        margin-bottom: 12px;
        flex-direction: column;
    }

    #newsletter-bar .newsletter-title span {
        font-size: 22px;
        line-height: 17px;
        margin-left: 0;
        text-align: center;
        padding: 10px 30px 30px;
    }

    #newsletter-bar .newsletter-title svg {
        margin-right: 15px;
    }

    #newsletter-bar .newsletter-content {
        width: 100%;
        padding: 0 30px;
    }

    #newsletter-bar input {
        width: 100% !important;
    }

    .newsletter .newsletter-register {
        display: flex !important;
        width: 100%;
        flex-direction: column;
        padding-bottom: 20px;
        margin-left: 0;
        margin-top: 8px;
    }

    #newsletter-bar .newsletter-signature {
        margin-left: 0;
        margin-top: 8px;
    }
}

/*================ Show delivered orders ================*/
.mp_platinum {
    min-width: 325px;
    max-width: 100%;
    margin: 0 auto;
}

.mp_platinum li {
    list-style: none;
    flex-basis: 100%;
}

.mp_platinum p {
    margin: 5px;
}

.ui-box-component-pdp__visible--desktop {
    width: 100%;
    border-radius: 8px;
    border: 1px solid rgba(0,0,0,.1);
    margin: 24px 0;
    padding: 32px 16px 24px;
}

.ui-seller-info__status-info {
    display: -webkit-flex;
    display: flex;
    margin-bottom: 20px;
}

.ui-seller-info__status-info__icon {
    margin: 2px 10px 0 0;
    width: 20px;
    text-align: center;
}

.ui-pdp-color--GREEN.ui-pdp-icon {
    fill: #00a650;
}

.ui-pdp-seller__status-title {

    font-size: 16px;
    font-weight: 600;
    color: #00a650;
    padding: 0;
    margin: 2px 0 -12px 0 !important;

}

.ui-seller-info__status-info__subtitle {

    font-size: 14px;
    color: rgba(0,0,0,.55);
    margin: 5px 0 0 0 !important;

}

.ui-thermometer {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: baseline;

}

.ui-thermometer__level {
    width: 20%;
    height: 8px;
    margin-top: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    border-left: 6px solid #fff;
}

.ui-thermometer__level--1 {
    background: #fff0f0;
}

.ui-thermometer__level--2 {
    background: #fff5e8;
}

.ui-thermometer__level--3 {
    background: #fffcda;
}

.ui-thermometer__level--4 {
    background: #f1fdd7;
}

.ui-thermometer[value="5"] .ui-thermometer__level--5 {
    height: 12px;
    margin: 0;
    background: #00d86b;
}

.ui-seller-info {
    border: 1px solid #E8E8E8;
    border-radius: 15px;
}

.ui-pdp-seller__reputation-info {
    margin-top: 8px;
    margin-bottom: 8px;
}

.ui-pdp-seller__list-description {

    display: -webkit-flex;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

.ui-pdp-seller__item-description {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 8px 8px;
    line-height: normal;
}

.ui-pdp-seller__sales-description {
    font-size: 24px;
    color: #000;
    font-weight: 400;
    display: block;
}

.ui-pdp-seller__text-description {
    font-size: 13px;
    line-height: normal;
}

.ui-pdp-seller__item-description:after {
    background: #ddd;
    content: "";
    height: 91%;
    position: absolute;
    right: 0;
    top: 8%;
    width: 1px;
}

.ui-pdp-seller__item-description:last-of-type:after {
    display: none;
}

.ui-pdp-seller__icon-description {
    display: inline-block;
    width: 28px;
    padding-top: 3px;
    vertical-align: top;
}

.ui-pdp-icon, .ui-pdp-icon--shipping {
    fill: rgba(0,0,0,.25);
}

/*================ Social sharing buttons ================*/
#social-sharing {
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-sharing span {
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
}

#social-sharing .sharing-content {
    padding-left: 20px;
    display: flex;
}

#social-sharing .share-item:not(:last-child) {
    margin-right: 0.5rem;
}

#social-sharing .share-item a {
    line-height: 0 !important;
    height: 17px !important;
    display: flex;
    align-items: center;
    margin: 0 2px;
}

#social-sharing .share-item a svg {
    cursor: pointer;
}

/*================ Simulator shipping ================*/
#simulator-shipping {
    background: #ffffff;
    box-shadow: 0 10px 30px -10px #0000002e;
    padding: 10px 21px 10px 18px;
    border-radius: 7px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#simulator-shipping strong {
    font-weight: 500;
    color: #000;
}

#simulator-shipping .ss_form {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}

#simulator-shipping .ss_form input {
    margin-right: 10px;
}

#simulator-shipping .ss_form .search_zipcode {
    width: 40%;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 6px;
    text-align: center;
}

#simulator-shipping .sr_title {
    margin-top: 10px;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    font-size: 12px;
    color: rgb(0, 0, 0);
    overflow: hidden;
    padding: 8px 16px;
    height: 100%;
    background-color: #fafafa;
    border-width: 0 1px 1px;
    border-color: rgb(204, 204, 204);
    border-radius: 7px;
}

#simulator-shipping .sr_title i {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
}

#simulator-shipping .sr_title i svg {
    display: flex;
    width: 15px;
    height: 15px;
    fill: rgb(199, 80, 0);
}

#simulator-shipping span {
    -webkit-box-align: center;
    align-items: center;
    line-height: 18px;
    flex: 1 1 0;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
}

#simulator-shipping ul,
#shipping-estimator ul {
    text-align: left;
    border-radius: 4px;
    margin-top: 10px;
    display: none;
    padding: 0 16px;
    margin-bottom: 30px;
}

#simulator-shipping ul.loading,
#shipping-estimator ul.loading {
    background-image: url("https://cdn.awsli.com.br/production/static/loja/estrutura/v1/img/loading.gif");
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
}

#simulator-shipping ul,
#simulator-shipping li,
#shipping-estimator ul,
#shipping-estimator li {
    list-style-type: none;
}

#simulator-shipping li,
#shipping-estimator li {
    font-size: 14px;
    display: flex;
}

#simulator-shipping ul li:not(:last-child),
#shipping-estimator ul li:not(:last-child) {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

#simulator-shipping ul li span,
#shipping-estimator ul li span {
    font-size: 13px;
}

#simulator-shipping ul li .ship-price,
#shipping-estimator ul li .ship-price {
    font-weight: 600;
    color: #51A559;
    text-align: right;
}

#simulator-shipping ul li .ship-name,
#shipping-estimator ul li .ship-name {
    font-weight: 600;
    color: #000;
    text-align: left;
}

#simulator-shipping ul li .ship-interval,
#shipping-estimator ul li .ship-interval {
    font-weight: 600;
    color: #000;
    min-width: 33%;
}

/*================ Melhor Loja ================*/
#melhorloja {
    line-height: 1.2;
    display: none;
}

#melhorloja p {
    margin: 0;
}

#melhorloja-prazoenvio {
    font-weight: 500;
    font-size: 15px;
}

#melhorloja-infoadicional {
    font-size: 13px;
}

#melhorloja-lojadados {
    margin-top: 15px;
    display: flex;
    align-items: center;
    gap: 16px;
}

#melhorloja-infoloja {
    flex: 1;
}

#melhorloja-lojadados-nomeloja {
    font-size: 14px;
    font-weight: 600;
    color: #000;
}

#melhorloja-lojadados-enderecoloja {
    font-size: 12px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

@media screen and (min-width: 1280px) {
    #melhorloja-lojadados-enderecoloja {
        max-width: 60%;
    }
}

/*================ Free shipping ================*/
#free-shipping {
    background: #ffffff;
    box-shadow: 0 10px 30px -10px #0000002e;
    padding: 10px 21px 11px 18px;
    border-radius: 7px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#free-shipping > img {
    margin: -10px 10px -10px -8px;
}

#free-shipping p {
    flex-grow: 1;
    margin-bottom: 0;
    line-height: normal;
    font-size: 13px;
}

#free-shipping .ship-name {
    color: var(--extra);
    font-weight: 500;
}

#free-shipping .ship-address {
    font-weight: normal;
    color: var(--text-color);
}

#free-shipping .ship-interval {
    display: block;
}

@media (max-width: 1024px) {
    #free-shipping > img {
        height: 55px;
    }
}

/*================ Evolution countdown ================*/
.evolution_countdown {
    border-radius: 7px;
    width: 100%;
    overflow: auto;
    line-height: normal;
    display: none;
    padding: 10px;
}

.evolution_countdown > div {
    float: left;
    width: 50%;
}

.evolution_countdown .countdown-heading {
    font-size: 20px;
    font-weight: 500;
}

.evolution_countdown .countdown-subheading {
    font-size: 13px;
}

.evolution_countdown .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.evolution_countdown .timediv {
    float:left;
    border-radius: 8px;
    display: inline-block;
    padding: 8px;
    margin: 2px;
    text-align: center;
}

.evolution_countdown .sep {
    float:left;
}

@media (max-width: 400px) {
    .evolution_countdown .timediv {
        padding: 6px;
        margin: 2px;
        text-align: center;
    }
}

@media (max-width: 300px) {
    .evolution_countdown .evolution_countdown .countdown-heading {
        font-size: 15px;
        width: 100%;
    }

    .evolution_countdown .center {
        justify-content: start;
    }
}

.evolution_countdown_simple {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin: 10px 0;
    padding: 10px 18px;
    border-radius: 4px;
    justify-content: center;
    width: max-content;
}

.evolution_countdown_simple > p {
    display: flex;
}

.evolution_countdown_simple p > span {
    color: white;
    font-size: 14px;
    font-weight: 500;
}

/*================ Whatsapp button product page ================*/
#whatsapp-button {
    display: flex;
    float: none !important;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#whatsapp-button a {
    background: #ffffff;
    color: var(--botaowhatsapp);
    fill: var(--botaowhatsapp);
    padding: 8px 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--botaowhatsapp);
    border-radius: 7px;
    margin-top: 10px;
}

#whatsapp-button svg {
    width: var(--base-text-font-size);
    height: var(--base-text-font-size);
    margin-right: 5px;
}

#whatsapp-button a span {
    font-size: var(--base-text-font-size);
    line-height: 11px;
}

/*================ Evolution price list ================*/
#evolution-price-list {
    display: flex;
    float: none !important;
    flex-wrap: wrap;
}

#evolution-price-list .product-price {
    width: 100%;
    margin: 0;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height: 1.2;
}

#evolution-price-list .price-promotional-wrap {
    flex-direction: column;
    display: flex;
    align-items: baseline;
}

#evolution-price-list .price-promotional-wrap span {
    font-weight: 500;
    color: var(--text-color);
    text-decoration: line-through;
    font-size: 14px;
}

#evolution-price-list .price-promotional-wrap strong {
    font-size: 34px;
    line-height: 34px;
    display: flex;
    font-weight: 500;
    margin: 0;
    white-space: nowrap;
    color: var(--product-on-sale-accent);
}

@media (min-width: 1025px) {
    #evolution-price-list .product-price-discount {
        font-size: 1.12rem;
        padding: 3px;
    }
}

#evolution-price-list .product-price-discount {
    background: var(--badge_discount_background);
    color: var(--badge_discount_color);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0.5rem;
    padding: 3px;
    display: none;
}

#evolution-price-list .product-price-installment > svg {
    fill: var(--parcelamento);
    width: 45px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

#evolution-price-list .installment-container {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#evolution-price-list .installment-container span {
    font-size: 14px;
    line-height: 15px;
}

#evolution-price-list .installment-container strong {
    font-weight: 500;
    color: #000;
}

#evolution-price-list .installment-container .more-payments {
    font-size: 13px;
    text-decoration: underline;
    cursor: pointer;
    text-align: left;
    display: block;
    color: var(--more_payments_color);
}

#evolution-price-list .evolution-payments {
    display: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

#evolution-price-list .evolution-payments strong {
    font-weight: 500;
}

#evolution-price-list .evolution-payments .payments-container {
    padding: 3px 15px;
    background: #fff;
    box-shadow: 0 10px 30px -10px #0000002e;
    border-radius: 7px;
}

#evolution-price-list .evolution-payments .payment-box {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#evolution-price-list .evolution-payments .payment-box:not(:first-child) {
    border-top: 1px solid #e5e5e5;
}

#evolution-price-list .evolution-payments .payment-items {
    padding: 0;
    width: 100%;
    align-items: center;
    height: auto;
    text-decoration: none;
    display: flex;
    flex-flow: wrap;
}

#evolution-price-list .evolution-payments .payment-items svg {
    margin: 0 4px 0 0 !important;
}

#evolution-price-list .evolution-payments .payment-box-title {
    padding: 0;
    text-align: right;
    display: inline-flex;
    align-items: center;
    height: auto;
    text-decoration: none;
}

#evolution-price-list .evolution-payments .payment-box-title span {
    font-size: 11px;
    color: #646464;
}

#evolution-price-list .evolution-payments .payment-box-title p {
    margin: -3px 0 0 5px;
}

#evolution-price-list .evolution-payments .payment-content {
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

#evolution-price-list .evolution-payments .payment-content .payment-content__inner {
    padding: 10px 0 10px 10px;
}

#evolution-price-list .evolution-payments .payment-content ul {
    margin: 0;
    width: 49%;
    float: left;
}

#evolution-price-list .evolution-payments .payment-content ul:last-child {
    text-align: center;
}

#evolution-price-list .evolution-payments .payment-content li {
    list-style-type: none;
}

#evolution-price-list .evolution-payments .payment-content ul li span {
    font-size: 12px;
}

#evolution-price-list .product-economy-value {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 8px 16px;
    min-height: 1.5rem;
    max-width: 100%;
    min-width: 1.5rem;
    font-weight: bold;
    color: var(--economy_color);
    background: var(--badge_economy_background);
    border-radius: 60px;
    margin-top: 12px;
}

#evolution-price-list .product-economy-value span {
    line-height: 1;
}

#evolution-price-list .product-economy-value span.economy-price {
    color: var(--economy_value_color);
}

#evolution-price-list .product-pix {
    display: flex;
    align-items: center;
    border-radius: 4px;
}

#evolution-price-list .product-pix svg {
    fill: var(--descontopix);
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

#evolution-price-list .pix-value {
    display: flex;
    align-items: center;
    line-height: 17px;
}

#evolution-price-list .pix-value strong {
    color: #201f1f;
    font-size: 17px;
    font-weight: 500;
}

#evolution-price-list .pix-value span {
    font-size: 12px !important;
    margin-left: 4px;
}

#evolution-price-list .pix-value div {
    background: var(--descontopix);
    margin-left: 5px;
    font-size: 9px;
    line-height: 9px;
    color: #fff;
    font-weight: 400;
    display: inline-flex;
    padding: 2px 7px;
    justify-content: center;
    border-radius: 3px;
}

#evolution-price-list .pix-discount {
    font-size: 12px;
    line-height: 13px;
    margin-top: 1px;
}

.evolution-quantity-selector {
    text-align: right;
    height: 52px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px;
    background: #f0f0f0;
}

.evolution-quantity-selector__value {
    width: 100%;
    padding: 5px 0;
    text-align: center;
    margin: 0;
    height: 100%;
    font-size: 20px;
    background: none;
    color: #646464;
    font-weight: 400;
    border: none !important;
    box-shadow: none !important;
    -moz-appearance:textfield;
}

.evolution-quantity-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.evolution-quantity-container .qtd-down {
    order: 2;
}

.evolution-quantity-container .qtd-up {
    order: 1;
}

.evolution-quantity-selector__button {
    cursor: pointer;
    display: flex;
    width: 21px;
    align-items: center;
    justify-content: center;
    height: 47%;
    background: #dcdcdc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.evolution-quantity-selector__button svg {
    width: 8px;
    height: 8px;
    fill: #646464;
    cursor: pointer;
}

/*================ Product block ================*/
.product-block-list__item .card {
    border: 0;
}

.product-block-list__item--info .card {
    box-shadow: 0 10px 30px -10px #0000002e;
    border-radius: 16px;
}

@media only screen and (max-width: 1024px) {
    .product-block-list__item--info .card {
        border: 0;
        border-radius: 0 0 16px 16px !important;
    }

    .product-block-list__item--gallery .card,
    .product-block-list__item--description .card {
        border: 0;
    }

    .product-block-list__item--description .card {
        background-color: transparent;
    }
}

@media only screen and (max-width: 1024px) and (orientation:portrait) {
    .product-block-list__item--gallery .card {
        border-radius: inherit !important;
    }
}

@media only screen and (max-width: 1024px) and (orientation:landscape) {
    .product-block-list__item--gallery .card {
        border-radius: 16px 16px 0 0 !important;
    }
}

.cart-recap__price-line-price {
    color: var(--product-on-sale-accent);
}

.cart-recap__price-line-price strong {
    font-weight: 500;
    margin: 0;
    line-height: 21px;
    font-size: 21px;
}

.cart-recap__price-line-payments {
    text-align: right;
    line-height: 18px;
    font-size: 13px;
}

.cart-recap__price-line-payments span {
    display: block;
}

.cart-recap__price-line-payments strong {
    color: var(--product-on-sale-accent);
    font-weight: 500;
    font-size: calc(var(--base-text-font-size) - 1px);
}

/*================ Footer ================*/
.footer-section-logo {
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.footer-section-logo img {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
}

.footer-section-logo-link,
.footer-section-item-link {
    color: var(--link-color);
}

/*================ Customizado ================*/
.icon-state .icon-state__primary {
    display: block;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
}

.d-flex {
    display: flex;
}

/*================ Buy together ================*/
.buy-together-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: .0025em;
    color: #000;
}

.buy-together-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.buy-together-main-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-together-main-product .buy-together-main-product-name {
    font-style: normal;
    font-weight: 400;
    line-height: 134.8%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 0 9px 10px 5px;
}

.buy-together-main-product .buy-together-main-product-price--compare {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color);
    text-decoration: line-through;
    margin: 0 9px 0 5px;
}

.buy-together-main-product .buy-together-main-product-price {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 134.8%;
    color: var(--product-on-sale-accent);
    margin: 0 9px 0 5px;
}

.buy-together-wrapper .buy-together-plus {
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #000;
    margin-bottom: 0;
}

.buy-together-wrapper .buy-together-list {
    padding: 0;
    list-style: none;
    margin: 0 0 -30px;
    overflow: hidden;
}

.buy-together-list .buy-together-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 12px;
}

.buy-together-item-checkbox {
    width: 20px;
    height: 20px;
}

.buy-together-item-checkbox input {
    display: none;
}

.buy-together-item .buy-together-item-checkbox input:checked+label:before {
    content: '';
    border-color: var(--product-on-sale-accent);
    background: var(--product-on-sale-accent) url('data:image/svg+xml;charset=UTF-8,<svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.56708 10.7695C6.13375 11.2028 5.43375 11.2028 5.00041 10.7695L1.01152 6.78057C0.57819 6.34724 0.57819 5.64724 1.01152 5.2139C1.44486 4.78057 2.14486 4.78057 2.57819 5.2139L5.77819 8.4139L13.4226 0.769458C13.856 0.336125 14.556 0.336125 14.9893 0.769458C15.4226 1.20279 15.4226 1.90279 14.9893 2.33612L6.56708 10.7695Z" fill="white"/><path d="M6.56708 10.7695C6.13375 11.2028 5.43375 11.2028 5.00041 10.7695L1.01152 6.78057C0.57819 6.34724 0.57819 5.64724 1.01152 5.2139C1.44486 4.78057 2.14486 4.78057 2.57819 5.2139L5.77819 8.4139L13.4226 0.769458C13.856 0.336125 14.556 0.336125 14.9893 0.769458C15.4226 1.20279 15.4226 1.90279 14.9893 2.33612L6.56708 10.7695Z" fill="white"/></svg>') no-repeat center center;
}

.buy-together-item .buy-together-item-checkbox label:before {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #c0c0c0;
    background: transparent;
    transition: all .25s ease-in-out;
    margin-right: 3px;
    border-radius: 2px;
    cursor: pointer;
}

.buy-together-item .img-wrapper {
    width: 62px;
    margin-left: 3px;
    margin-right: 5px;
}

.buy-together-item .img-wrapper img {
    width: 100%;
    max-width: 62px;
}

.buy-together-item .b-t-content {
    width: calc(100% - 78px);
    display: flex;
    flex-direction: column;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buy-together-item .b-t-content .product-name {
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 134.8%;
}

.buy-together-item .b-t-content .product-name a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
}

.buy-together-item .b-t-content .bottom-content {
    position: relative;
    margin-top: auto;
    margin-bottom: 0;
    width: 100%;
}

.buy-together-item .b-t-content .bottom-content p.product-price--compare {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--text-color);
    text-decoration: line-through;
    margin-bottom: 2px;
}

.buy-together-item .b-t-content .bottom-content p.product-price {
    font-style: normal;
    margin-bottom: 2px;
    font-weight: 500;
    font-size: 18px;
    line-height: 134.8%;
    color: var(--product-on-sale-accent);
}

.buy-together-total-value {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0 10px 30px -10px #0000002e;
    border-radius: 7px;
    padding: 14px 15px 10px 18px;
    flex-direction: column;
}

.buy-together-total-value div {
    display: flex;
    line-height: normal;
}

.buy-together-total-value strong {
    padding-left: 5px;
    font-weight: 500;
    color: #000;
}

@media (max-width: 991px) {
    .buy-together-main-product-image {
        width: 107px;
        height: 107px;
    }
    .buy-together-main-product-content {
        max-width: calc(100% - 107px);
    }
}

@media (min-width: 992px) {
    .buy-together-wrapper {
        flex-direction: row;
    }

    .buy-together-main-product {
        flex-direction: column;
        width: 134px;
    }

    .buy-together-item {
        padding: 0 0 0 9px;
    }

    .buy-together-item .b-t-content .product-name {
        width: 140px;
    }
}

.icone-menu {
    display: inline-block;
    cursor: pointer;
}

.icone-menu svg {
    width: 30px;
    height: 30px;
}

.nav-bar__item {
    display: inline-flex;
}

.nav-bar__link.link {
    margin-left: 8px;
    transition: opacity 0.5s ease-out;
    background-position: 0 -200px;
}

.search-bar__submit {
    background: transparent !important;
    color: var(--header_icon_search_color) !important;
}

.search-bar__input {
    background: transparent !important;
    color: var(--header_icon_search_color) !important;
}

.search-bar__input::placeholder {
    color: var(--header_icon_search_color) !important;
}

.search-bar__top {
    background: var(--header_search_background) !important;
}

.countdown-ofertas {
    margin: 0 auto;
    text-align: center;
}

.countdown-ofertas .texto-ofertas {
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    max-width: 600px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}

.countdown-ofertas .texto-ofertas span {
    font-size: 24px;
}

.countdown-ofertas ul {
    margin: 0 auto;
    padding: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.countdown-ofertas ul li {
    line-height: 20px;
    display: inline-block;
    width: 59px;
    text-align: center;
    margin: 0 2px;
    padding: 12px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 6px 0 rgba(100, 100, 100, 0.19);
    background-color:  var(--countdown_background);
}

.countdown-dias {
    margin-right: 8px !important;
}

.countdown-ofertas .tempo-a {
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    width: 30px;
    text-align: center;
    color: var(--countdown_timer_color);
}

.countdown-ofertas .tempo-b {
    display: block;
    font-size: 13px;
    line-height: 13px;
    color: var(--countdown_desc_color);
}

.countdown-ofertas ul > strong {
    display: inline-block;
    position: relative;
    top: -10px;
    font-size: 25px;
    font-weight: 700;
}

.countdown-ofertas .link {
    display: block;
    text-align: right;
    margin-top: 10px;
}

@media only screen and (max-width: 767px) {
    .countdown-ofertas .texto-ofertas {
        max-width: inherit;
        white-space: inherit;
        margin: 0;
    }

    .countdown-ofertas .texto-ofertas {
        margin-bottom: 10px;
    }

    .countdown-ofertas .texto-ofertas span {
        font-size: 19px;
        line-height: 21px;
    }

    .countdown-ofertas ul li {
        width: 45px;
        padding: 9px 0;
    }
}

.ofertas-destaque {
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 14px;
    padding: 3px 0;
    margin-top: 10px;
    background-color: var(--special_offer_background);
    cursor: pointer;
}

.ofertas-destaque i {
    margin-right: 5px;
    color: var(--special_offer_star_color);
}

.ofertas-destaque strong {
    font-weight: 700;
    color: #fff;
    color: var(--special_offer_color);
}

.fade:not(.show) {
    opacity: 0;
}

@media (hover: hover) {
    .product-item:hover .product-item__action-list {
        opacity: 1;
    }
}

iframe {
    max-width: 100%;
}

.cupom {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border-style: dashed;
    border-color: rgb(48, 48, 48);
    border-width: 3px;
    color: rgb(48, 48, 48);
    line-height: 1;
    white-space: normal;
    padding: 16px;
    text-align: center;
    word-break: break-word;
    align-self: flex-end;
    cursor: pointer;
}

.cupom span {
    font-size: 20px;
    font-weight: 700;
}

.cupom svg {
    color: rgb(48, 48, 48);
    height: 32px;
    width: 32px;
    margin-left: 16px;
    cursor: pointer;
    flex-shrink: 0;
}

.modal--newsletter {
    z-index: 99;
}

@media(max-width: 768px){
    #seguranca,
    #aceitamos,
    #envio {
        text-align: center;
    }
}

.footer__title {
    font-weight: 700;
}

.featured-collection .flickity-viewport:after {
    background: none;
}

.trigger-pop-up {
    line-height: normal;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid var(--popup_button_color);
    padding: 7px;
    margin-right: 15px;
    border-radius: 7px;
    cursor: pointer;
    background: transparent;
    display: inline-flex;
    width: auto;
    flex-direction: row;
    align-items: center;
    height: 40px;
    color: var(--popup_button_color);
    margin-top: 12px;
    font-weight: 500;
}

.trigger-pop-up svg {
    margin-right: 5px;
    fill: var(--popup_button_color);
}

.pop-up-modal {
    background: rgba(0,0,0,.8);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0;
    display: none;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.pop-up-content {
    z-index: 22;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0 13px 26px;
    position: absolute;
    width: 908px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 12px;
}

.pop-up-product {
    position: relative;
    width: 367px;
    height: 500px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.pop-up-product-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
    opacity: 1;
}

.pop-up-medida {
    width: 541px;
    height: 500px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.medida-desktop {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    bottom: 30px;
}

.pop-up-botoes {
    bottom: 24px;
    flex-direction: row;
    right: 24px;
    transition: all 0.5s ease 0s;
    opacity: 1;
    visibility: visible;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-self: flex-end;
    position: absolute;
}

.pop-up-close {
    background-color: black;
    color: white;
    text-transform: uppercase;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    white-space: nowrap;
    padding: 0 24px;
    min-height: 32px;
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 6px 16px;
    transition: all 0.5s ease 0s;
    font-weight: 700;
    font-size: 0.875em;
    cursor: pointer;
}

.show-pop-up {
    z-index: 99999;
    opacity: 1;
    display: block;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.pop-up-medida img {
    max-height: 700px;
    width: 400px;
}

@media screen and (max-width: 768px) {
    .pop-up-content {
        box-shadow: none;
        -webkit-box-pack: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        height: auto;
        width: calc(100% - 18px);
    }
    .pop-up-botoes {
        position: initial;
        padding: 10px;
    }
}

.header__cart-count {
    position: inherit;
}

.price-container {
    align-items: center;
    display: flex;
}